{%- if section.blocks.size > 0 -%}
    <nav class="hidden xl:block">
        <ul class="flex" role="list">
            {%- for block in section.blocks -%}
                {%- liquid
                    assign hide_on_desktop = block.settings.hide_on_desktop
                    assign menu_title = block.settings.title | escape
                    assign menu_link = block.settings.url
                    assign megamenu_enable = block.settings.megamenu_enable
                    assign simple_menu = block.settings.simple_menu
                    assign simple_menu_button_label = block.settings.simple_menu_button_label | escape
                    assign simple_menu_button_link = block.settings.simple_menu_button_link
                    assign simple_menu_image = block.settings.simple_menu_image
                    assign simple_menu_popup_content = block.settings.simple_menu_popup_content
                -%}
                {%- if hide_on_desktop != true
                    and menu_title != blank
                    and menu_link != blank -%}
                    <li class="
                        {% if megamenu_enable %}
                            has_megamenu
                        {% else %}
                            {%- if simple_menu != blank -%}
                                has_megamenu relative
                            {%- endif -%}
                        {% endif %} 
                        {% unless forloop.last %}
                            mr-12
                        {% endunless %}">
                        <a class="inline-block
                            py-12
                            uppercase"
                            href="{{ menu_link }}">
                            {{ menu_title }}
                        </a>

                        {%- if megamenu_enable -%}
                            <div class="hidden
                                absolute
                                bg-white
                                top-full
                                left-0
                                w-full
                                border-t
                                z-10">
                                <div class="page-width">
                                    <div class="flex
                                        align-center
                                        justify-between
                                        py-20">
                                        {%- for i in (1..2) -%}
                                            {%- capture megamenu_col_menu_index -%}megamenu_col{{ i }}_menu{%- endcapture -%}
                                            {%- capture megamenu_col_button_label_index -%}megamenu_col{{ i }}_button_label{%- endcapture -%}
                                            {%- capture megamenu_col_button_link_index -%}megamenu_col{{ i }}_button_link{%- endcapture -%}
                                            {%- liquid
                                                assign megamenu_col_menu = block.settings[megamenu_col_menu_index]
                                                assign megamenu_col_button_label = block.settings[megamenu_col_button_label_index] | escape
                                                assign megamenu_col_button_link = block.settings[megamenu_col_button_link_index]
                                            -%}
                                            {%- if megamenu_col_menu != blank -%}
                                                {%- assign menu = linklists[megamenu_col_menu] -%}
                                                {%- if menu.links.size > 0 -%}
                                                    <div class="relative w-2/12 mr-8 py-12">
                                                        <h6>{{ menu.title }}</h6>
                                                        
                                                        <ul class="mt-8">
                                                            {%- for link in menu.links -%}
                                                                <li class="{% unless forloop.last %}mb-9{% endunless %}">
                                                                    <a href="{{ link.url }}" class="uppercase">{{ link.title }}</a>
                                                                </li>
                                                            {%- endfor -%}
                                                        </ul>

                                                        {%- if megamenu_col_button_label != blank
                                                            and megamenu_col_button_link != blank -%}
                                                            <a class="absolute
                                                                bottom-12
                                                                flex
                                                                items-center
                                                                uppercase" 
                                                                href="{{ megamenu_col_button_link }}">
                                                                {{ megamenu_col_button_label }}
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="ml-5" width="5" height="8" viewBox="0 0 5 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.234835 7.64017C0.0883886 7.49372 0.0883886 7.25628 0.234835 7.10984L3.34467 4L0.234835 0.890166C0.0883884 0.743718 0.0883883 0.506282 0.234835 0.359835C0.381282 0.213388 0.618718 0.213388 0.765165 0.359835L4.40533 4L0.765165 7.64017C0.618719 7.78661 0.381282 7.78661 0.234835 7.64017Z" fill="#303030"/></svg>
                                                            </a>
                                                        {%- endif -%}
                                                    </div>
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endfor -%}

                                        {%- for i in (3..4) -%}
                                            {%- capture megamenu_col_image_index -%}megamenu_col{{ i }}_image{%- endcapture -%}
                                            {%- capture megamenu_col_title_index -%}megamenu_col{{ i }}_title{%- endcapture -%}
                                            {%- capture megamenu_col_subtitle_index -%}megamenu_col{{ i }}_subtitle{%- endcapture -%}
                                            {%- capture megamenu_col_button_label_index -%}megamenu_col{{ i }}_button_label{%- endcapture -%}
                                            {%- capture megamenu_col_button_link_index -%}megamenu_col{{ i }}_button_link{%- endcapture -%}
                                            {%- liquid
                                                assign megamenu_col_image = block.settings[megamenu_col_image_index]
                                                assign megamenu_col_title = block.settings[megamenu_col_title_index]
                                                assign megamenu_col_subtitle = block.settings[megamenu_col_subtitle_index] | escape
                                                assign megamenu_col_button_label = block.settings[megamenu_col_button_label_index] | escape
                                                assign megamenu_col_button_link = block.settings[megamenu_col_button_link_index]
                                            -%}
                                            {%- if megamenu_col_image -%}
                                                <div class="relative 
                                                    w-1/3 
                                                    h-[39.2rem]
                                                    p-8
                                                    flex
                                                    items-center
                                                    justify-center
                                                    {% unless forloop.last %}mr-8{% endunless %}">

                                                    {%- if megamenu_col_title != blank -%}
                                                        <div class="max-w-xl mx-auto">
                                                           <h2 class="text-center
                                                                text-inverted
                                                                text-7xl
                                                                max-w-lg
                                                                mx-auto
                                                                styled-span"> 
                                                                {{ megamenu_col_title }}
                                                            </h2>

                                                            {%- if megamenu_col_subtitle != blank -%}
                                                                <p class="mt-4
                                                                    font-bold
                                                                    text-inverted
                                                                    text-3xl
                                                                    text-center">{{ megamenu_col_subtitle }}</p> 
                                                            {%- endif -%}

                                                            {%- if megamenu_col_button_label != blank
                                                                and megamenu_col_button_link != blank -%}
                                                                <div class="flex justify-center mt-9">
                                                                    <a class="btn btn--inverted" href="{{ megamenu_col_button_link }}">
                                                                        {{ megamenu_col_button_label }}
                                                                    </a>
                                                                </div>
                                                            {%- endif -%}
                                                        </div>
                                                    {%- endif -%}

                                                    {%- render 'img', image: megamenu_col_image -%}
                                                </div>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </div>
                                </div>
                            </div>
                        {%- else -%}
                            {%- if simple_menu != blank -%}
                                {%- assign simple_menu = linklists[simple_menu] -%}
                                {%- if simple_menu.links.size > 0 -%}
                                    <div class="hidden
                                        absolute
                                        top-full
                                        -left-10
                                        bg-white
                                        border-t
                                        z-10
                                        p-12">
                                        <div class="flex justify-between relative">
                                            <ul class="min-w-[10rem] w-max">
                                                {%- for menu_link in simple_menu.links -%}
                                                    <li class="my-3">
                                                        <a href="{{ menu_link.url }}" class="uppercase">{{ menu_link.title }}</a>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>

                                            {%- if simple_menu_image -%}
                                                {%- if simple_menu_popup_content != blank -%}
                                                    <modal-opener class="relative h-[30rem] w-[22rem] min-w-[22rem] ml-20 no-js-hidden" data-modal="#Modal-{{ block.id }}">
                                                        <button class="absolute top-0 bottom-0 left-0 right-0 w-full h-full" type="button" aria-haspopup="dialog">
                                                            {%- render 'img', image: simple_menu_image -%}
                                                        </button>
                                                    </modal-opener>
                                                {%- else -%}
                                                    <div class="relative h-[30rem] w-[22rem] min-w-[22rem] ml-20">
                                                        {%- render 'img', image: simple_menu_image -%}
                                                    </div>
                                                {%- endif -%}
                                            {%- endif -%}

                                            {%- if simple_menu_button_label != blank
                                                and simple_menu_button_link != blank -%}
                                                <div class="absolute bottom-3 left-0">
                                                    <a href="{{ simple_menu_button_link }}" class="flex items-center uppercase">
                                                    {{ simple_menu_button_label }}
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-5" width="5" height="8" viewBox="0 0 5 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.234835 7.64017C0.0883886 7.49372 0.0883886 7.25628 0.234835 7.10984L3.34467 4L0.234835 0.890166C0.0883884 0.743718 0.0883883 0.506282 0.234835 0.359835C0.381282 0.213388 0.618718 0.213388 0.765165 0.359835L4.40533 4L0.765165 7.64017C0.618719 7.78661 0.381282 7.78661 0.234835 7.64017Z" fill="#303030"/></svg>
                                                    </a>
                                                </div>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                {%- endif -%}
                            {%- endif -%}
                        {%- endif -%}
                    </li>
                {%- endif -%}

                {%- if simple_menu_popup_content != blank -%}
                    <modal-dialog id="Modal-{{ block.id }}">
                        <div role="dialog" aria-label="" aria-modal="true" class="popup__content popup__content--transparent" tabindex="-1">
                            <button id="ModalClose-megamenu" type="button" class="popup__close" aria-label="{{ 'accessibility.close' | t }}">{%- render 'icon-close' -%}</button>
                            <div class="popup__inner">
                                {{ simple_menu_popup_content }}
                            </div>
                        </div>
                    </modal-dialog>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    </nav>

    <header-drawer data-breakpoint="tablet" class="w-max mr-8 block xl:hidden">
        <details>
            <summary>
                <span class="flex">
                    {% render 'icon-hamburger' %}
                </span>
            </summary> 
            <div class="details-content 
                fixed
                transform
                -translate-x-full
                invisible
                z-30
                left-0
                top-0
                w-10/12
                overflow-x-hidden
                p-8
                h-screen
                bg-white
                transition-all
                duration-150
                ease-in
                flex
                flex-col" tabindex="-1">

                <div class="flex justify-end items-center pb-8">
                    <button type="button" class="" aria-label="Close">
                        <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 18 17" fill="none" width="15" height="15"><path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="#303030"></path></svg>
                    </button>
                </div>

                <div>

                    <div>
                        {%- if settings.predictive_search_enabled -%}
                            <predictive-search 
                                class="w-full
                                    relative
                                    max-w-[45rem]" data-loading-text="{{ 'accessibility.loading' | t }}">
                        {%- endif -%}
                            <form action="{{ routes.search_url }}" method="get" role="search" class="search w-full max-w-[45rem]">
                            <div class="field">
                                <input class="field__input search__input" 
                                id="Search-In-Modal-Drawer"
                                type="search"
                                name="q"
                                value=""
                                placeholder="{{ 'general.search.search_mobile' | t }}"
                                {%- if settings.predictive_search_enabled -%}
                                    role="combobox"
                                    aria-expanded="false"
                                    aria-owns="predictive-search-results-list"
                                    aria-controls="predictive-search-results-list"
                                    aria-haspopup="listbox"
                                    aria-autocomplete="list"
                                    autocorrect="off"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    spellcheck="false"
                                {%- endif -%}
                                >
                                <label class="field__label" for="Search-In-Modal-Drawer">{{ 'general.search.search_mobile' | t }}</label> 
                                <input type="hidden" name="options[prefix]" value="last">
                                <button class="search__button field__button" aria-label="{{ 'general.search.search_mobile' | t }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.667969 9.15014C0.667969 4.46491 4.46613 0.666748 9.15136 0.666748C13.8366 0.666748 17.6348 4.46491 17.6348 9.15014C17.6348 13.8354 13.8366 17.6335 9.15136 17.6335C4.46613 17.6335 0.667969 13.8354 0.667969 9.15014ZM9.15136 2.04243C5.2259 2.04243 2.04365 5.22468 2.04365 9.15014C2.04365 13.0756 5.2259 16.2579 9.15136 16.2579C13.0768 16.2579 16.2591 13.0756 16.2591 9.15014C16.2591 5.22468 13.0768 2.04243 9.15136 2.04243Z" fill="#303030"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14.2698 14.2682C14.5384 13.9995 14.974 13.9995 15.2426 14.2682L19.1336 18.1592C19.4022 18.4278 19.4022 18.8633 19.1336 19.132C18.865 19.4006 18.4295 19.4006 18.1609 19.132L14.2698 15.2409C14.0012 14.9723 14.0012 14.5368 14.2698 14.2682Z" fill="#303030"/></svg>
                                </button>
                            </div>

                            {%- if settings.predictive_search_enabled -%}
                                <div class="predictive-search-wrapper
                                    hidden 
                                    w-full
                                    absolute
                                    top-full
                                    left-0
                                    border
                                    border-primary
                                    border-t-0
                                    bg-white
                                    z-50
                                    " tabindex="-1" data-predictive-search>
                                <div class="predictive-search__loading-state">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                </div>
                                </div>

                                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span> 
                            {%- endif -%}
                            </form>
                        {%- if settings.predictive_search_enabled -%}
                            </predictive-search> 
                        {%- endif -%}
                    </div>

                    <ul class="parent-menu relative mt-8 border-t border-silver2">
                        {%- for block in section.blocks -%}
                            {%- liquid
                                assign menu_title = block.settings.title | escape
                                assign menu_link = block.settings.url
                                assign simple_menu = block.settings.simple_menu
                                assign simple_menu_button_label = block.settings.simple_menu_button_label | escape
                                assign simple_menu_button_link = block.settings.simple_menu_button_link
                            -%}
                            <li>
                                <a href="{{ menu_link }}" class="flex 
                                    items-center 
                                    justify-between
                                    w-full
                                    font-bold
                                    text-lg
                                    py-8
                                    tracking-normal
                                    border-b
                                    border-silver2
                                    {% if simple_menu != blank %}
                                        has_submenu
                                    {% endif %}">
                                    {{ menu_title }}
                                    {%- if simple_menu != blank -%}
                                        <svg class="ml-6" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.439354 0.146446C0.244092 0.341708 0.244092 0.658291 0.439354 0.853553L4.5858 5L0.439355 9.14645C0.244093 9.34171 0.244093 9.65829 0.439355 9.85355C0.634617 10.0488 0.9512 10.0488 1.14646 9.85355L6.00001 5L1.14646 0.146446C0.951199 -0.0488158 0.634616 -0.0488157 0.439354 0.146446Z" fill="#303030"/></svg>
                                    {%- endif -%}
                                </a>

                                {%- if simple_menu != blank -%}
                                    {%- assign simple_menu = linklists[simple_menu] -%}
                                    {%- if simple_menu.links.size > 0 -%}
                                        <ul class="submenu-mobile
                                            transform
                                            translate-x-full 
                                            invisible
                                            absolute
                                            bg-white
                                            z-20
                                            top-0
                                            right-0
                                            left-0
                                            bottom-0
                                            w-full
                                            h-full">
                                            <li>
                                                <a href="{{ menu_link }}" class="flex 
                                                    items-center 
                                                    w-full
                                                    font-bold
                                                    text-lg
                                                    py-8
                                                    tracking-normal
                                                    border-b
                                                    border-silver2
                                                    back-to-parent">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.56065 0.146446C5.75591 0.341708 5.75591 0.658291 5.56065 0.853553L1.4142 5L5.56064 9.14645C5.75591 9.34171 5.75591 9.65829 5.56064 9.85355C5.36538 10.0488 5.0488 10.0488 4.85354 9.85355L-1.45634e-05 5L4.85354 0.146446C5.0488 -0.0488158 5.36538 -0.0488157 5.56065 0.146446Z" fill="#303030"/></svg>
                                                    <span class="ml-8">{{ menu_title }}</span>
                                                </a>
                                            </li>
                                            {%- for menu_link in simple_menu.links -%}
                                                <li>
                                                    <a href="{{ menu_link.url }}" class="flex 
                                                        items-center 
                                                        justify-between
                                                        w-full
                                                        uppercase
                                                        py-8
                                                        tracking-normal
                                                        border-b
                                                        border-silver2">
                                                        {{ menu_link.title }}
                                                    </a>
                                                </li>
                                            {%- endfor -%}

                                            {%- if simple_menu_button_label != blank
                                                and simple_menu_button_link != blank -%}
                                                <li>
                                                    <a href="{{ simple_menu_button_link }}" class="flex 
                                                        items-center 
                                                        justify-between
                                                        w-full
                                                        uppercase
                                                        py-8
                                                        tracking-normal
                                                        border-b
                                                        border-silver2">
                                                    {{ simple_menu_button_label }}
                                                    </a>
                                                </li>
                                            {%- endif -%}
                                        </ul>
                                    {%- endif -%}
                                {%- endif -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
                
                <div class="mt-8">
                    <a href="#hero-wishlist" class="btn 
                        btn--inverted 
                        btn--secondary 
                        w-full
                        !flex 
                        items-center 
                        justify-center 
                        text-center
                        uppercase">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 4.01863C0.5 1.79921 2.2992 0 4.51863 0C5.65523 0 6.68154 0.472189 7.41204 1.22983C8.14253 0.472189 9.16884 0 10.3054 0C12.5249 0 14.3241 1.79921 14.3241 4.01863C14.3241 5.97205 13.1775 7.77574 11.8135 9.15321C10.4448 10.5354 8.77457 11.5731 7.56411 11.9754C7.46538 12.0082 7.35869 12.0082 7.25996 11.9754C6.0495 11.5731 4.37923 10.5354 3.01056 9.15321C1.64658 7.77574 0.5 5.97205 0.5 4.01863ZM4.51863 0.96447C2.83186 0.96447 1.46447 2.33187 1.46447 4.01863C1.46447 5.60159 2.40758 7.17354 3.69589 8.47459C4.91832 9.7091 6.37747 10.6238 7.41203 11.0067C8.4466 10.6238 9.90575 9.7091 11.1282 8.47459C12.4165 7.17354 13.3596 5.60159 13.3596 4.01863C13.3596 2.33187 11.9922 0.96447 10.3054 0.96447C9.2729 0.96447 8.35986 1.47642 7.80632 2.26247C7.71599 2.39074 7.56892 2.46705 7.41204 2.46705C7.25515 2.46705 7.10808 2.39074 7.01775 2.26247C6.46421 1.47642 5.55117 0.96447 4.51863 0.96447Z" fill="#303030"/></svg>
                        <span class="ml-5">WISHLIST</span>
                    </a>
                </div>
            </div>
        </details>
    </header-drawer>


    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const submenu_btns = document.querySelectorAll('a.has_submenu')
            const parent_menu = document.querySelector('.parent-menu')
            const back_to_parent_btns = document.querySelectorAll('.back-to-parent')
            if (submenu_btns) {
                submenu_btns.forEach((submenu_btn) => {
                    submenu_btn.addEventListener('click', (event) => {
                        event.preventDefault()

                        const submenu = submenu_btn.closest('li').querySelector('.submenu-mobile')
                        if (submenu) {
                            const submenu_height = submenu.scrollHeight
                            parent_menu.style.height = `${submenu_height}px`
                            submenu.classList.add('active')
                        }
                    })
                })
            }

            if (back_to_parent_btns) {
                back_to_parent_btns.forEach((back_to_parent_btn) => {
                    back_to_parent_btn.addEventListener('click', (event) => {
                        event.preventDefault()
                        parent_menu.style.height = 'auto'
                        const current_submenu = event.target.closest('ul')
                        current_submenu.classList.remove('active')
                        
                    })
                })
            }
        })
    </script>
{%- endif -%}