<ul class="w-full
    flex
    items-center
    {% unless position == 'start' %}
    justify-center 
    xl:justify-end
    {% endunless %}">

    {%- if settings.social_instagram_link != blank -%}
        <li class="
            {% if smaller %}
                mr-8
            {% else %}
                mr-12
            {% endif %} 
            last:mr-0">
            <a href="{{ settings.social_instagram_link }}" class="flex" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" {% if smaller %}width="21" height="21"{% else %}width="28" height="28"{% endif %} viewBox="0 0 28 28" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.35855 0.638974C9.78713 0.573208 10.2426 0.558594 13.8817 0.558594C17.5207 0.558594 17.9762 0.574426 19.4036 0.638974C20.831 0.703523 21.8053 0.931268 22.6578 1.26132C23.5505 1.59867 24.3604 2.12602 25.0302 2.80804C25.7123 3.47666 26.2384 4.28534 26.5745 5.17927C26.9058 6.03179 27.1323 7.0061 27.1981 8.43103C27.2638 9.86205 27.2785 10.3175 27.2785 13.9554C27.2785 17.5944 27.2626 18.0499 27.1981 19.4785C27.1335 20.9034 26.9058 21.8778 26.5745 22.7303C26.2384 23.6243 25.7114 24.4343 25.0302 25.1039C24.3604 25.786 23.5505 26.3121 22.6578 26.6482C21.8053 26.9795 20.831 27.206 19.406 27.2718C17.9762 27.3375 17.5207 27.3522 13.8817 27.3522C10.2426 27.3522 9.78713 27.3363 8.35855 27.2718C6.93362 27.2072 5.95931 26.9795 5.10678 26.6482C4.21276 26.312 3.40274 25.785 2.73312 25.1039C2.05156 24.4349 1.52414 23.6253 1.18762 22.7315C0.857568 21.879 0.631041 20.9047 0.565274 19.4797C0.499508 18.0487 0.484894 17.5932 0.484894 13.9554C0.484894 10.3163 0.500726 9.86083 0.565274 8.43347C0.629823 7.0061 0.857568 6.03179 1.18762 5.17927C1.52463 4.28543 2.05246 3.47582 2.73434 2.80682C3.40301 2.12541 4.21221 1.59799 5.10557 1.26132C5.95809 0.931268 6.9324 0.70474 8.35733 0.638974H8.35855ZM19.2952 3.0504C17.8824 2.98585 17.4586 2.97245 13.8817 2.97245C10.3047 2.97245 9.88091 2.98585 8.46816 3.0504C7.16136 3.11007 6.45255 3.32807 5.98001 3.51198C5.35523 3.75555 4.90827 4.04419 4.43938 4.51308C3.99491 4.94549 3.65284 5.4719 3.43828 6.05371C3.25437 6.52625 3.03637 7.23506 2.9767 8.54186C2.91215 9.95461 2.89875 10.3784 2.89875 13.9554C2.89875 17.5323 2.91215 17.9561 2.9767 19.3689C3.03637 20.6757 3.25437 21.3845 3.43828 21.857C3.65262 22.438 3.99485 22.9653 4.43938 23.3977C4.87173 23.8422 5.39908 24.1844 5.98001 24.3988C6.45255 24.5827 7.16136 24.8007 8.46816 24.8604C9.88091 24.9249 10.3035 24.9383 13.8817 24.9383C17.4598 24.9383 17.8824 24.9249 19.2952 24.8604C20.602 24.8007 21.3108 24.5827 21.7833 24.3988C22.4081 24.1552 22.8551 23.8666 23.324 23.3977C23.7685 22.9653 24.1107 22.438 24.3251 21.857C24.509 21.3845 24.727 20.6757 24.7867 19.3689C24.8512 17.9561 24.8646 17.5323 24.8646 13.9554C24.8646 10.3784 24.8512 9.95461 24.7867 8.54186C24.727 7.23506 24.509 6.52625 24.3251 6.05371C24.0815 5.42893 23.7929 4.98197 23.324 4.51308C22.8915 4.06864 22.3651 3.72658 21.7833 3.51198C21.3108 3.32807 20.602 3.11007 19.2952 3.0504ZM12.1705 18.0852C13.1262 18.483 14.1903 18.5367 15.1811 18.2371C16.1719 17.9375 17.028 17.3033 17.6031 16.4426C18.1782 15.582 18.4367 14.5483 18.3343 13.5183C18.232 12.4882 17.7753 11.5257 17.0421 10.795C16.5747 10.3279 16.0096 9.97021 15.3874 9.74775C14.7652 9.52528 14.1014 9.44354 13.4438 9.5084C12.7863 9.57325 12.1512 9.7831 11.5845 10.1228C11.0178 10.4626 10.5334 10.9237 10.1663 11.4731C9.79914 12.0225 9.5584 12.6465 9.46137 13.3001C9.36433 13.9537 9.41343 14.6207 9.60511 15.2531C9.79679 15.8854 10.1263 16.4674 10.5699 16.9571C11.0135 17.4469 11.5602 17.8321 12.1705 18.0852ZM9.01256 9.08626C9.65198 8.44683 10.4111 7.93962 11.2465 7.59356C12.082 7.24751 12.9774 7.0694 13.8817 7.0694C14.786 7.0694 15.6814 7.24751 16.5168 7.59356C17.3523 7.93962 18.1114 8.44683 18.7508 9.08626C19.3902 9.72568 19.8974 10.4848 20.2435 11.3202C20.5895 12.1557 20.7677 13.0511 20.7677 13.9554C20.7677 14.8597 20.5895 15.7551 20.2435 16.5905C19.8974 17.426 19.3902 18.1851 18.7508 18.8245C17.4594 20.1159 15.708 20.8414 13.8817 20.8414C12.0554 20.8414 10.3039 20.1159 9.01256 18.8245C7.72118 17.5331 6.9957 15.7817 6.9957 13.9554C6.9957 12.1291 7.72118 10.3776 9.01256 9.08626ZM22.2949 8.09489C22.4533 7.94542 22.5802 7.76568 22.6679 7.5663C22.7556 7.36692 22.8025 7.15197 22.8057 6.93416C22.8088 6.71635 22.7683 6.50013 22.6864 6.29828C22.6045 6.09643 22.4829 5.91306 22.3289 5.75903C22.1749 5.605 21.9915 5.48344 21.7897 5.40155C21.5878 5.31966 21.3716 5.2791 21.1538 5.28228C20.936 5.28545 20.721 5.3323 20.5216 5.42004C20.3223 5.50778 20.1425 5.63463 19.993 5.79308C19.7024 6.10124 19.5432 6.51057 19.5494 6.93416C19.5555 7.35775 19.7266 7.76226 20.0261 8.06182C20.3257 8.36138 20.7302 8.5324 21.1538 8.53857C21.5774 8.54475 21.9867 8.38559 22.2949 8.09489Z" fill="#303030"/></svg>
            </a>
        </li>
    {%- endif -%}

    {%- if settings.social_facebook_link != blank -%}
        <li class="
            {% if smaller %}
                mr-8
            {% else %}
                mr-12
            {% endif %} 
            last:mr-0">
            <a href="{{ settings.social_facebook_link }}" class="flex" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" {% if smaller %}width="11" height="21"{% else %}width="14" height="28"{% endif %} viewBox="0 0 14 28" fill="none"><path d="M3.69836 27.91V14.8138H0.278473V10.0986H3.69836V6.07112C3.69836 2.90632 5.7185 0 10.3733 0C12.258 0 13.6516 0.18295 13.6516 0.18295L13.5418 4.58619C13.5418 4.58619 12.1206 4.57218 10.5696 4.57218C8.89099 4.57218 8.62205 5.35548 8.62205 6.65555V10.0986H13.6753L13.4554 14.8138H8.62205V27.91H3.69836Z" fill="#303030"/></svg>
            </a>
        </li>
    {%- endif -%}

    {%- if settings.social_youtube_link != blank -%}
        <li class="
            {% if smaller %}
                mr-8
            {% else %}
                mr-12
            {% endif %} 
            last:mr-0">
            <a href="{{ settings.social_youtube_link }}" class="flex" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" {% if smaller %}width="24" height="17"{% else %}width="32" height="22"{% endif %} viewBox="0 0 32 22" fill="none"><path d="M30.8695 3.65946C30.7088 2.31863 29.4452 1.03291 28.1231 0.86066C20.0612 -0.141053 11.9089 -0.141053 3.84961 0.86066C2.52643 1.03253 1.26283 2.31863 1.10209 3.65946C0.532944 8.57353 0.532944 13.3382 1.10209 18.2512C1.26283 19.592 2.52643 20.8789 3.84961 21.05C11.9089 22.0517 20.0615 22.0517 28.1231 21.05C29.4452 20.8792 30.7088 19.592 30.8695 18.2512C31.4388 13.3387 31.4388 8.57353 30.8695 3.65946ZM13.4339 16.0598V5.8524L21.0893 10.9563L13.4339 16.0598Z" fill="#303030"/></svg>
            </a>
        </li>
    {%- endif -%}

    {%- if settings.social_twitter_link != blank -%}
        <li class="
            {% if smaller %}
                mr-8
            {% else %}
                mr-12
            {% endif %} 
            last:mr-0">
            <a href="{{ settings.social_twitter_link }}" class="flex" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" {% if smaller %}width="22" height="17"{% else %}width="29" height="24"{% endif %} viewBox="0 0 29 24" fill="none"><path d="M28.2064 3.43952C27.18 3.88708 26.0775 4.18949 24.9183 4.32618C26.1143 3.62192 27.0091 2.51351 27.4357 1.20776C26.312 1.86457 25.0822 2.3269 23.7998 2.57464C22.9373 1.66846 21.795 1.06783 20.5502 0.866003C19.3054 0.664174 18.0276 0.872436 16.9154 1.45845C15.8031 2.04447 14.9186 2.97546 14.3991 4.10688C13.8796 5.23829 13.7543 6.50684 14.0425 7.71556C11.7656 7.60306 9.53826 7.02069 7.50493 6.00624C5.47161 4.99179 3.67775 3.56794 2.2398 1.82709C1.74812 2.66173 1.46541 3.62943 1.46541 4.66004C1.46486 5.58782 1.69703 6.50139 2.14131 7.31969C2.5856 8.13799 3.22826 8.83572 4.01229 9.35098C3.10303 9.32251 2.21383 9.08073 1.4187 8.64576V8.71834C1.41861 10.0196 1.876 11.2808 2.71326 12.288C3.55052 13.2951 4.71608 13.9862 6.01218 14.2439C5.16869 14.4686 4.28435 14.5017 3.42596 14.3407C3.79164 15.4603 4.50396 16.4394 5.46318 17.1409C6.42241 17.8424 7.58052 18.2311 8.77539 18.2526C6.74703 19.8196 4.24201 20.6696 1.66331 20.6658C1.20652 20.666 0.750112 20.6397 0.296448 20.5872C2.91398 22.2434 5.96097 23.1224 9.07286 23.119C19.607 23.119 25.3658 14.533 25.3658 7.08655C25.3658 6.84463 25.3596 6.60028 25.3486 6.35836C26.4687 5.56118 27.4356 4.57403 28.204 3.44315L28.2064 3.43952Z" fill="#303030"/></svg>
            </a>
        </li>
    {%- endif -%}

    {%- if settings.social_tiktok_link != blank -%}
        <li class="
            {% if smaller %}
                mr-8
            {% else %}
                mr-12
            {% endif %} 
            last:mr-0">
            <a href="{{ settings.social_tiktok_link }}" class="flex" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" {% if smaller %}width="18" height="20"{% else %}width="24" height="27"{% endif %} viewBox="0 0 24 27" fill="none"><path d="M23.4726 7.46512C21.9865 7.46512 20.6153 6.9728 19.5142 6.14226C18.2513 5.19017 17.344 3.79356 17.0236 2.18385C16.9443 1.78613 16.9015 1.37569 16.8975 0.955078H12.6522L12.6471 18.9091C12.6471 20.6078 11.5409 22.0481 10.0075 22.5547C9.56247 22.7017 9.08185 22.7714 8.58139 22.7439C7.94259 22.7088 7.34397 22.516 6.82368 22.2048C5.71646 21.5426 4.96577 20.3413 4.94543 18.9671C4.91339 16.8192 6.64974 15.0681 8.79602 15.0681C9.21968 15.0681 9.62656 15.1373 10.0075 15.2629V10.9526C9.6057 10.8931 9.19679 10.862 8.7833 10.862C6.43409 10.862 4.23695 11.8386 2.6664 13.5978C1.47934 14.9273 0.767301 16.6234 0.657444 18.402C0.513511 20.7385 1.36846 22.9595 3.02649 24.5982C3.27011 24.8388 3.52593 25.0621 3.79345 25.2681C5.21498 26.3621 6.95286 26.9551 8.7833 26.9551C9.19679 26.9551 9.6057 26.9246 10.0075 26.8651C11.7174 26.6118 13.2951 25.829 14.5401 24.5982C16.07 23.0862 16.9153 21.0787 16.9244 18.9421L16.9025 9.45374C17.6324 10.0168 18.4304 10.4826 19.2869 10.8442C20.6189 11.4062 22.0312 11.6911 23.4848 11.6905V7.46411C23.4858 7.46512 23.4736 7.46512 23.4726 7.46512Z" fill="#303030"/></svg>
            </a>
        </li>
    {%- endif -%}
    
</ul>