{%- liquid
    assign padding_top = section.settings.padding_top | default: 0
    assign padding_bottom = section.settings.padding_bottom | default: 0
    assign margin_top = section.settings.margin_top | default: 0
    assign margin_bottom = section.settings.margin_bottom | default: 0
    assign banner = section.settings.banner 
    assign heading = section.settings.title
    assign subtitle = section.settings.subtitle | escape
    assign note = section.settings.note | escape
    assign instagram_link = settings.social_instagram_link | escape
-%}

{%- render 'offset' 
    id: section.id
    padding_top: padding_top, 
    padding_bottom: padding_bottom,
    margin_top: margin_top,
    margin_bottom: margin_bottom
-%}

<section id="section-{{ section.id }}">
    <div class="page-width">
        {%- if heading != blank -%}
            <h2 class="max-w-3xl 
                mx-auto
                text-center
                mb-0 
                styled-span">{{ heading }}</h2>
        {%- endif -%}

        {%- if subtitle != blank -%}
            <p class="mt-1
                xl:mt-4
                text-1xl 
                xl:text-3xl 
                font-bold 
                text-center">{{ subtitle }}</p>
        {%- endif -%}
    </div>

    {%- if banner -%}
        <div id="rotating-banner-{{ section.id }}" class="splide mt-8 -ml-2 -mr-2 -rotate-[1.5deg]" aria-label="Rotating banner">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a href="{{ instagram_link }}" target="_blank">
                            <div class="relative">
                                <img
                                    src="{{ banner | image_url: width: image.width }}"
                                    loading="lazy"
                                    alt="{{ banner.alt | escape }}"
                                    width="{{ banner.width }}"
                                    height="{{ banner.width | divided_by: banner.aspect_ratio | round }}"
                                    class="max-w-max"
                                    style="width:{{ banner.width }}px;height:{{ banner.width | divided_by: banner.aspect_ratio | round }}px;"
                                >
                            </div>
                            {%- comment -%}
                                {%- render 'img', image: banner responsive: true -%}
                            {%- endcomment -%}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <style>
            #rotating-banner-{{ section.id }} .splide__slide {
               /* width: auto !important; */
            }
        </style>
    {%- endif -%}

    {%- if note != blank -%}
        <div class="page-width">
            <p class="text-sm
                uppercase
                text-silver
                text-center
                mt-8">{{ note }}</p>
        </div>
    {%- endif -%}
</section>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        //
        let slider_selector = '#rotating-banner-' + '{{ section.id }}'
        new Splide( slider_selector, {
            type: 'loop',
            clones: 1,
            arrows: false,
            pagination: false,
            autoWidth: true,
            autoScroll: {
                speed: 2,
            },
        } ).mount( window.splide.Extensions )
    })
</script>


{% schema %}
{
	"name":"Rotating banner",
	"settings":[
        {
            "type": "number",
            "id": "padding_top",
            "label": "Padding top (rem)",
            "default": 0,
            "info": "1rem = 10px"
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "Padding bottom (rem)",
            "default": 0,
            "info": "1rem = 10px"
        },
        {
            "type": "number",
            "id": "margin_top",
            "label": "Margin top (rem)",
            "default": 100,
            "info": "1rem = 10px"
        },
        {
            "type": "number",
            "id": "margin_bottom",
            "label": "Margin bottom (rem)",
            "default": 100,
            "info": "1rem = 10px"
        },
        {
            "type": "image_picker",
            "id": "banner",
            "label": "Banner"
        },
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
        {
			"type": "text",
			"id": "subtitle",
			"label": "Subtitle"
		},
        {
			"type": "text",
			"id": "note",
			"label": "Note"
		}
	],
	"presets":[
		{
			"name": "Rotating banner"
		}
	]
}
{% endschema %}